@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
:root {
  --dark-color: #191a23;
  --green-color: #b9ff66;
  ---color: #f3f3f3;
  --color-gray-alt: #898989;
  --color-dark-alt: #293a32;
  --color-light: #ffffff;
}

body {
  font-size: clamp 16px, 1.25vw, 18px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.28;
  color: black;
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a,
button,
input,
textarea,
svg * {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1 {
  font-size: clamp 43px, 4.1666666667vw, 60px;
}

h2 {
  font-size: clamp 36px, 2.7777777778vw, 40px;
}

h3 {
  font-size: clamp 26px, 2.0833333333vw, 30px;
}

h4 {
  font-size: clamp 18px, 1.3888888889vw, 20px;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: 1298px;
  margin-inline: auto;
  padding-inline: 29px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: 7px;
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: #b9ff66;
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: #b9ff66;
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: #191a23;
  border-radius: 5px;
  -webkit-box-shadow: 0 -8px, 0 8px;
          box-shadow: 0 -8px, 0 8px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 68px;
  padding-inline: 35px;
  color: #ffffff;
  background-color: #191a23;
  border: 1px solid #191a23;
  border-radius: 14px;
}
@media (hover: hover) {
  .button:hover {
    color: #191a23;
    background-color: #b9ff66;
  }
}
@media (hover: none) {
  .button:active {
    color: #191a23;
    background-color: #b9ff66;
  }
}
.button--transparent {
  color: #191a23;
  background-color: transparent;
}

.header {
  padding-top: 60px;
}
@media (max-width: 1280px) {
  .header {
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 15px;
  }
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
@media (max-width: 1023px) {
  .header__inner {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (max-width: 1023px) {
  .header__logo {
    max-width: 120px;
  }
}
@media (max-width: 767px) {
  .header__logo {
    max-width: 144px;
  }
}
.header__menu {
  margin-left: auto;
  font-size: 20px;
}
@media (max-width: 1280px) {
  .header__menu {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .header__menu {
    font-size: 16px;
  }
}
.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
@media (max-width: 1280px) {
  .header__menu-list {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
.header__menu-link {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  -webkit-transition-duration: inherit;
          transition-duration: inherit;
}
.header__button {
  height: 48px;
  padding-inline: 18px;
  font-size: 16px;
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: 7px;
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: #b9ff66;
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: #b9ff66;
  }
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  width: 70%;
  height: 2px;
  background-color: #191a23;
  border-radius: 5px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 14px 28px;
  border: none;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.mobile-overlay__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}

.section {
  padding-block: 70px;
}
.section--hidden-x {
  overflow: hidden;
}
.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.section__header:not(:last-child) {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .section__header:not(:last-child) {
    margin-bottom: 40px;
    margin-top: -60px;
  }
}
@media (max-width: 767px) {
  .section__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    text-align: center;
  }
}
.section__description {
  max-width: 580px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}
@media (max-width: 1280px) {
  .hero {
    row-gap: 60px;
  }
}
.hero__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media (max-width: 767px) {
  .hero__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 35px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  max-width: 531px;
}
@media (max-width: 767px) {
  .hero__body {
    display: contents;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .hero__button {
    width: 390px;
    max-width: 100%;
    margin-inline: auto;
  }
}
.hero__title {
  font-size: 32px;
}
@media (max-width: 767px) {
  .hero__title {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    margin-bottom: 20px;
  }
}
.hero__description {
  font-size: 20px;
  line-height: 1.4;
}
@media (max-width: 767px) {
  .hero__description {
    margin-bottom: 40px;
  }
}
.hero__partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 37px;
     -moz-column-gap: 37px;
          column-gap: 37px;
}
@media (max-width: 1023px) {
  .hero__partners-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }
}
@media (max-width: 1023px) {
  .hero__partners-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.hero__partners-img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
@media (max-width: 1023px) {
  .hero_img {
    max-width: 40%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .hero_img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.puddle-bg {
  padding-inline: 7px;
  background-color: #b9ff66;
  border-radius: 7px;
}
.puddle-bg--light {
  background-color: #ffffff;
}

.services__list:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .services__list:not(:last-child) {
    margin-bottom: 70px;
  }
}

.service-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  min-height: 310px;
  padding: 50px;
  background-color: #f3f3f3;
  border: 1px solid #191a23;
  border-radius: 45px;
  -webkit-box-shadow: 0 5px 0 0 #191a23;
          box-shadow: 0 5px 0 0 #191a23;
}
@media (max-width: 767px) {
  .service-card {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 27px;
  }
}
.service-card--accent-bg {
  background-color: #b9ff66;
}
.service-card--dark-bg {
  background-color: #191a23;
}
.service-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
}
@media (max-width: 767px) {
  .service-card__body {
    display: contents;
  }
}
.service-card__img {
  -ms-flex-item-align: center;
      align-self: center;
}
@media (max-width: 1280px) {
  .service-card__img {
    max-width: 50%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .service-card__img {
    max-width: 165px;
  }
}
.service-card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media (max-width: 767px) {
  .service-card__title {
    grid-column: -1/1;
  }
}
.service-card__link {
  --serviceCardLinkIconColor: var(--green-color);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  font-size: 20px;
}
@media (hover: hover) {
  .service-card__link:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .service-card__link:active {
    opacity: 0.7;
  }
}
@media (max-width: 767px) {
  .service-card__link {
    -ms-flex-item-align: end;
        align-self: end;
  }
}
.service-card__link--light {
  --serviceCardLinkIconColor: var(--dark-color);
  color: var(--color-light);
}
.service-card__link-icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}
.service-card__link-icon-wrapper svg {
  color: var(--serviceCardLinkIconColor);
}
@media (max-width: 767px) {
  .service-card__link-label {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    -webkit-clip-path: inset(100%) !important;
            clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}

.banner {
  padding-block: 24px;
}
.banner__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f3f3;
  border-radius: 45px;
}
.banner__body {
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  row-gap: 26px;
}
@media (max-width: 1023px) {
  .banner__body {
    padding: 50px;
  }
}
@media (max-width: 767px) {
  .banner__body {
    row-gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.banner__img {
  margin-block: 0;
}
@media (max-width: 1023px) {
  .banner__img {
    max-width: 40%;
    height: auto;
  }
}
.banner__description {
  max-width: 500px;
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 40px;
}
@media (max-width: 767px) {
  .grid {
    gap: 30px;
  }
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}
@media (max-width: 1023px) {
  .grid--2 {
    --gridColumns: 1;
  }
}

@media (min-width: 1281px) {
  .studies {
    padding: 70px 60px;
  }
}
@media (min-width: 768px) {
  .studies {
    color: #ffffff;
    background-color: #191a23;
    border-radius: 45px;
    padding: 40px;
  }
}
.studies__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 767px) {
  .studies__list {
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    overflow-x: scroll;
    width: 100vw;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
.studies__item {
  --studiesItemPaddingX: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
@media (min-width: 768px) {
  .studies__item:not(:first-child) {
    padding-left: var(--studiesItemPaddingX);
  }
  .studies__item:not(:last-child) {
    padding-right: var(--studiesItemPaddingX);
    border-right: 1px solid #ffffff;
  }
}
@media (max-width: 1280px) {
  .studies__item {
    --studiesItemPaddingX: 32px;
  }
}
@media (max-width: 767px) {
  .studies__item {
    color: #ffffff;
    background-color: #191a23;
    border-radius: 45px;
    padding: 42px 50px;
    min-width: 350px;
    scroll-snap-align: start;
  }
}
.studies__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  font-size: 20px;
  line-height: 1.4;
  color: #b9ff66;
}
@media (hover: hover) {
  .studies__link:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .studies__link:active {
    opacity: 0.7;
  }
}

.process__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  counter-reset: custom-counter;
  list-style: none;
}
.process__item {
  counter-increment: custom-counter;
}
.process__accordion {
  padding: 40px 60px;
  background-color: #f3f3f3;
  border: 1px solid #191a23;
  border-radius: 45px;
  -webkit-box-shadow: 0 5px 0 0 #191a23;
          box-shadow: 0 5px 0 0 #191a23;
}
@media (hover: hover) {
  .process__accordion:hover {
    background-color: #b9ff66;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
}
@media (hover: none) {
  .process__accordion:active {
    background-color: #b9ff66;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
}
.process__accordion[open] {
  background-color: #b9ff66;
}
.process__accordion[open] .process__accordion-indicator::after {
  rotate: 0deg;
}
.process__accordion-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.process__accordion-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
.process__accordion-title::before {
  content: "0" counter(custom-counter);
  font-size: 2em;
}
.process__accordion-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 58px;
  aspect-ratio: 1;
  position: relative;
  background-color: #f3f3f3;
  border: 1px solid #191a23;
  border-radius: 50%;
}
.process__accordion-indicator::before, .process__accordion-indicator::after {
  position: absolute;
  top: 50%;
  left: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 40%;
  height: 10%;
  background-color: #191a23;
}
.process__accordion-indicator::after {
  rotate: 90deg;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.process__accordion-body {
  margin-top: 30px;
  padding-top: 30px;
  border-bottom: 1px solid black;
}
